@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');


header{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom: 5em;
   padding: 6px 0 6px 0;
   background-color: rgb(11, 54, 102);
}


h1{
   text-align: center;
   font-family: 'Cairo', sans-serif;
   font-size: 48px;
   letter-spacing: 3px;
   color: #d3b51a;
   font-weight: bold;
}


p, h2{
   text-align: center;
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
   color: #0d3a76;
   text-decoration: none;
   padding-top: 15px;
}

p{
   text-align: center;
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
   color: #0d3a76;
   font-size: 18px;
   text-decoration: none;
   padding-top: 15px;
}


.content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.actions {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 500px;
   margin-top: 100px;

}

.action {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   width: 200px;
   height: 200px;
   padding: 0 5px 0 5px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
   transition: 0.3s;
}
span{
   display: flex;
   justify-content: center;
   font-size: 35px;
   color: rgb(61, 91, 118);
}


.action:hover {
   text-decoration: none;
   box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.action:hover span {
   color: rgb(109, 159, 203);
}


form{
   width: 500px;
}

form span{
   font-size: unset;
}

.error{
   color: red;
   margin-bottom: 200px;
}
